.topbar{
    background-color: #123e8f;
    padding: 4px 0;
}
.menu {
    display: flex;
    justify-content: center;
    margin: 0;
}

.menu .item {
    height: 100%;
    font-weight: 600;
    list-style: none;
    text-transform: uppercase;
}

.menu .item a{
    display: block;
    padding: 14px 20px;
}

.menu .item:hover {
    cursor: pointer;
    background-color: #eee;
}

.active{
    background-color: #eee;
}
